.slider {
  display: grid;
  place-items: center;
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden; /* <===  */
  background: #A51C30;
  background: -webkit-linear-gradient(to right, #A51C30, #C73F63);
  background: linear-gradient(to right, #A51C30, #C73F63); 
}

.slide {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.btn-next {
  top: 45%;
  right: 2%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

